body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
.hero {
  background: #ecf2f9;
  padding: 80px 20px;
}

.intro,
h1,
h2 {
  color: black;
  text-align: center;
}

.intro {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

p {
  line-height: 30px;
}

.btn-branding {
        background: #f0d9da;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
}