:root {
  --branding-color: #ecf2f9;
  --darkbranding-color: #c8d9eb;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
.hero {
  background: var(--branding-color);
  padding: 80px 20px;
}

.intro,
h1,
h2 {
  color: black;
  text-align: center;
}

.intro {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

p {
  line-height: 30px;
}

.move {
  text-align: center;
  margin-top: 40px;
}

.btn-branding {
  background: var(--darkbranding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 25px;
}

.shorttext {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 80px;
}

.textinfo {
  text-align: left;
  background: none;
  margin-left: -15px;
  padding-top: 5px;
}

.titletext {
  text-align: left;
  background: none;
  padding-top: 10px;
}

.primary-link {
  border: 3px solid var(--darkbranding-color);
  color: var(--darkbranding-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: -5px;
  font-size: 18px;
  font-weight: bold;
}

.primary-link:hover {
  color: black;
}
