:root {
  --branding-color: #ecf2f9;
  --darkbranding-color: #c8d9eb;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
.hero {
  background: var(--branding-color);
  padding: 80px 20px;
}

.intro,
h1,
h2 {
  color: black;
  text-align: center;
}

.intro {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

p {
  line-height: 30px;
}

.move {
  text-align: center;
  margin-top: 40px;
}

.btn-branding {
  background: var(--darkbranding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
}

.shorttext {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 80px;
}

.textinfo {
  text-align: left;
  background: none;
  margin: 0px 20px;
  padding-bottom: 20px;
  color: #6c757d;
  font-size: 25px;
}

.titletext {
  text-align: left;
  font-size: 60px;
  font-weight: bold;

  margin-left: 20px;
}

.weathertext {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

.primary-link {
  border: 3px solid var(--darkbranding-color);
  color: var(--darkbranding-color);
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 10px;
}

.primary-link:hover {
  color: black;
}

@media (max-width: 575px) {
  h1 {
    font-size: 60px;
  }

  .titletext,
  .textinfo,
  .weathertext {
    text-align: center;
    padding-bottom: 30px;
  }

  .titletext,
  .weathertext {
    font-size: 40px;
  }
  .textinfo {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .primary-link {
    margin-left: 150px;
  }
}
